<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level | %d{yyyyMMddHHmmssSSS} | %logger{36} | %M | %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>