//commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/registry/:username=CDM
//commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/registry/:_password="eGxqdGhzYWkzbmhnd3M1bzc1eHdmN3I1cTZib2k2M2s0NTZybHJlZ2R1N3B3cWs0NTJncQ=="
//commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/registry/:email=npm requires email to be set but doesn't use the value
//commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/:username=CDM
//commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/:_password="eGxqdGhzYWkzbmhnd3M1bzc1eHdmN3I1cTZib2k2M2s0NTZybHJlZ2R1N3B3cWs0NTJncQ=="
//commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/:email=npm requires email to be set but doesn't use the value
registry=https://commondatamodel.pkgs.visualstudio.com/_packaging/CDM/npm/registry
