:root {
    --back-alternate1: rgb(220, 220, 220);
    --back-alternate2: rgb(245, 245, 245);
    --item-back-normal: rgb(253, 245, 230);
    --item-back-base: rgb(189, 183, 103);
    --item-back-extension: rgb(255, 215, 0);
    --item-back-referenced: rgb(255, 140, 0);
    --item-back-referencing: rgb(144, 238, 144);
    --item-border-normal: 1px;
    --item-margin-normal: 2px;
    --item-border-selected: 3px;
    --item-margin-selected: 0px;
    --list-back-normal: white;
    --list-item-margin-normal: 0px;
    --list-item-padding-normal: 2px;
    --list-item-padding-selected: 0px;
}


.main_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    position: fixed !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parent_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 1px;
}

.group_title {
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.detail_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2px;
}

.detail_item {
    background-color: var(--item-back-normal);
    font-size: 14px;
    border-style: solid;
    border-width: var(--item-border-normal);
    margin: var(--item-margin-normal);
    ;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.sub_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2px;
}

.list_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 1px;
    overflow-y: scroll;
    width: 256px;
    min-width: 256px;
}

.list_item {
    background-color: var(--list-back-normal);
    font-size: 14px;
    border-style: solid;
    border-width: var(--item-border-normal);
    margin: var(--list-item-margin-normal);
    padding: var(--list-item-padding-normal);
    cursor: pointer;
}

.detail_pane {
    padding: 2px;
    margin: 2px;
    max-width: 33%;
    min-width: 33%;
    overflow: auto;
}
