:root {
    --back-alternate1: Gainsboro;
    --back-alternate2: WhiteSmoke;
    --item-back-loading: SonicSilver;
    --item-back-failed: LightCoral;
    --item-back-normal: Linen;
    --item-back-base: DarkKhaki;
    --item-back-extension: Gold;
    --item-back-referenced: DarkOrange;
    --item-back-referencing: LightGreen;
    --table-back-alternate: white;
    --item-border-normal: 1px;
    --item-margin-normal: 2px;
    --item-border-selected: 3px;
    --item-margin-selected: 0px;
    --list-back-normal: white;
    --list-item-margin-normal: 0px;
    --list-item-padding-normal: 2px;
    --list-item-padding-selected: 0px;
    --text-size-big: 16px;
    --text-size-med: 14px;
    --text-size-small: 8px;
    --wait-item-request:dimgrey;
    --wait-item-receive: rgb(228, 228, 228);
    --wait-item-fail:LightCoral;
    --wait-item-index-start:DarkKhaki;
    --wait-item-index-finish:darkseagreen;
    --wait-item-index-entity:Linen;
    --wait-host-background: black;
}


.main_container {
    position: fixed !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.fixed_container {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}

.manifest_select_container {
    position: absolute;
    left: 50%;
    height: auto;
    width: auto;
    background-color: var(--back-alternate1);
    padding: 15px;
}

.manifest_prompt_container {
    padding-bottom: 10px;
}

.manifest_select_prompt {
    display: inline-block;
}

.resize_bar {
    display: block;
    position: absolute;
    background-color:rgb(97, 97, 97);
    cursor: col-resize;
    margin: 0;
    padding: 0px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
}

.parent_container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    padding: 2px;
}

.group_title_bar {
    font-size: var(--text-size-big);
    display: flex;
    flex-direction: row;
    user-select: none;
}

.group_title {
    font-size: var(--text-size-big);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.group_title_size {
    font-size: var(--text-size-big);
    cursor: pointer;
    user-select: none;
    width: 14px;
    height: 16px;
    border: 1px solid dimgrey;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center; 
}
.group_title_size:hover {
    background-color: white;
}


.detail_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
}

.detail_item {
    background-color: var(--item-back-loading);
    font-size: var(--text-size-med);
    border-style: solid;
    border-width: var(--item-border-normal);
    margin: var(--item-margin-normal);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    user-select: none;
}

.key_item {
    font-size: var(--text-size-med);
    border-style: solid;
    border-width: var(--item-border-normal);
    margin: var(--item-margin-normal);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.sub_container {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2px;
}

.list_container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 1px;
    overflow-y: scroll;
    width: 248px;
    min-width: 248px;
}

.list_item {
    background-color: var(--list-back-normal);
    font-size: var(--text-size-med);
    border-style: solid;
    border-width: var(--item-border-normal);
    margin: var(--list-item-margin-normal);
    padding: var(--list-item-padding-normal);
    cursor: pointer;
    user-select: none;
}

.definition_pane,
.status_pane,
.resolved_pane,
.trait_pane,
.partitions_pane {
    display:block;
    background-color: var(--back-alternate2);
    padding: 2px;
    margin-top: 0px;    
}

.code_div {
    margin: 0px;
}

.button {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}


.tab {
    font-size: var(--text-size-med);
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    padding: 2px;
    padding-bottom: 0px;
    cursor: pointer;
    user-select: none;
}

#search_window {
    margin-left: auto;
}

#manifest_search{
    float: right;
}

#directives_host_pane {
    background-color: var(--back-alternate1);
}
#button_host_pane {
    background-color: var(--back-alternate1);
}
#detail_tool_pane {
    background-color: var(--back-alternate2);
}
#navigate_host_pane {
    background-color: var(--back-alternate2);
    overflow-y:auto;
}
#color_key_pane {
    background-color: var(--back-alternate1);
    border-style: solid; 
    border-width: 1px;
}
#list_host_pane {
    background-color: var(--back-alternate2);
    overflow-y:auto;
    border-style: solid;
    border-width: 1px;
}
#tab_host_pane {
    background-color: var(--back-alternate1);
     margin: 0px;
     padding-bottom: 0px; 
     padding-left: 4px;
}

#detail_host_pane {
    background-color: var(--back-alternate2);
    overflow: auto;
    border-style: solid;
    border-width: 1px;
}

#wait_pane {
    background-color: var(--back-alternate1);
    margin: 0px; 
    border-style: outset;
    flex-flow: column;
    padding: 10px;
}

#wait_message_text {
    font-size: larger;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
}
#wait_display_host {
    display:flex;
    border-style: inset;
    flex-flow: column;
    height: 100%;
    width: 100%;    
    background-color: var(--wait-host-background);
}
.wait_display_line {
    display:flex;
    flex-flow: row;
    height: 100%;
    width: 100%;    
}
.wait_display_item {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--wait-host-background);
}

.link_text{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.status-text-error {
    font-weight: bolder;
    color: crimson;
}

.status-text-warning {
    font-weight: bolder;
    color: blue;
}

.property_table
{
    border:1px solid black;
    border-collapse: collapse;
    margin: 4px;
}
.property_table_header
{
    padding: 3px;
}
.property_table_header_label
{
    border:1px solid black;
    font-size: medium;
    font-weight: bolder;
    color:black;
    text-align: right;
    padding: 3px;
    padding-right: 6px;
}
.property_table_header_value
{
    border:1px solid black;
    font-size: large;
    font-weight: bold;
    color:mediumblue;
    padding: 3px;
    padding-left: 6px;
}
.property_table_detail
{
    padding: 2px;
}
.property_table_detail_label
{
    border:1px solid black;
    font-size: smaller;
    font-weight: bolder;
    color:black;
    text-align: right;
    padding: 3px;
    padding-right: 6px;
}
.property_table_detail_value
{
    border:1px solid black;
    font-size: normal;
    font-weight: bolder;
    color:mediumblue;
    padding: 3px;
    padding-left: 6px;
    white-space: pre-wrap;
}


.trait_table
{
    border-collapse: collapse;
    border-spacing:0px;
}

.trait_table_row
{
    border-spacing:0px;
}


.trait_table_row_table
{
    border-collapse: collapse;
    border-spacing:0px;
    background-color:  var(--table-back-alternate);
    min-width: 700px;
}

.trait_table_row_table_row
{
    border-spacing:0px;
}

.trait_table_detail_name
{
    text-align: left;
    font-size: medium;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 12px;
    padding-top: 12px;
    color: mediumblue;
}

.trait_table_detail_explanation
{
    padding-top: 12px;
    text-align: left;
    color: green
}

.trait_parameter_table_holder
{
    padding-left: 16px;
}

.trait_parameter_table
{
    border-collapse: collapse;
    border-spacing:0px;
}

.trait_parameter_table_header_row
{
    border-spacing:0px;
}

.trait_parameter_table_header_name
{
    background-color: lightgray;
    font-weight:lighter;
    font-size: smaller;
    text-align: left;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}

.trait_parameter_table_header_value
{
    background-color: lightgray;
    font-weight:lighter;
    font-size: smaller;
    text-align: left;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}

.trait_parameter_table_header_type
{
    background-color: lightgray;
    font-weight:lighter;
    font-size: smaller;
    text-align: left;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}

.trait_parameter_table_header_explanation
{
    background-color: lightgray;
    font-weight:lighter;
    font-size: smaller;
    text-align: left;
    border-bottom: 1px solid black;
}

.trait_parameter_table_detail_row
{
    border-spacing:0px;
}

.trait_parameter_table_detail_name
{
    font-weight:bolder;
    font-size: smaller;
    text-align: left;
    min-width: 128px;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}

.trait_parameter_table_detail_value
{
    font-weight:bolder;
    font-size: medium;
    text-align: left;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
    color: mediumblue;
}

.trait_parameter_table_detail_type
{
    text-align: left;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
    min-width: 64px;
}

.trait_parameter_table_detail_explanation
{
    font-weight:lighter;
    text-align: left;
    font-size: small;
    min-width: 180px;
    border-bottom: 1px solid black;
    color: green;
}

.trait_param_value_table_host
{
    overflow-y:auto;
    max-height: 200px;
}
.trait_param_value_table
{
    border-spacing:2px;
}

.trait_param_value_table_header_row
{
    border-spacing:2px;
}

.trait_param_value_table_header_detail
{
    font-weight:lighter;
    text-align: left;
    font-size: small;
    background-color:powderblue;
    border-bottom: 1px solid black;
}

.trait_param_value_table_detail_row
{
    border-spacing:2px;
}

.trait_param_value_table_detail_detail
{
    font-weight:bolder;
    font-size: small;
    border-bottom: 1px solid black;
    color:mediumblue ;
}

