# Ignore IntelliJ IDE files.
.idea
*.iml

# Ignore VSCode files
.vscode
.settings
.classpath
.project
*.code-workspace

# Ignore target build artifacts.
target

# Ignore bins
bin

# Ignore test generated output files.
src/test/java/com/microsoft/commondatamodel/objectmodel/modeljson/out.*
src/test/java/com/microsoft/commondatamodel/objectmodel/persistence/cdmfolder/out.*
src/test/java/com/microsoft/commondatamodel/objectmodel/testdata/**/ActualOutput

# Mac stuff
.DS_Store
